{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "airbnb-base"
    ],
    "plugins": [
        "react",
        "import"
    ],
    "rules": {
        "max-len": [2, 120, 2, {ignoreComments: true }],
        "no-console": 0,
        "indent": [2, 4],
    },
    "globals": {
        "require": true,
        "localStorage": true,
        "console": true,
        "document": true,
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
